/AdminLTE-3.1.0
/node_modules
/public/hot
/public/storage
/public/build
/public/plugins
/public/dist
/database/migrations
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
